* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --MAIN: #262626;
    --MAIN-DARK: #0000003d;
    --MAIN-LIGHT: #ffffff48;
    --DARK-BLUE: #00303d;
    --MENU: #2e2e2eef;
    --TEXT: #262626;
}

body {
    background-color: var(--MAIN);
    min-height: 100vh;
    position: relative;
}

/* Header */

header {
    height: 75px;
    background-color: var(--MAIN-DARK);
    display: flex;
    justify-content: center;
}

li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Logo */

.logo-container {
    display: flex;
    align-items: center;
    margin: 0 0 0 50px;
}

.logo h1 {
    font-size: 2rem;
}

/* Nav Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link {
    transition: 0.7s ease;
    padding: 10px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.current {
    background-color: var(--MAIN-LIGHT);
    border-radius: 10px;
}

.nav-link:hover {
    background-color: var(--MAIN-LIGHT);
    border-radius: 10px;
}

/* Media Query for tablet screen size and bellow */
@media (max-width: 768px) {
    /* Logo */
    .logo-container {
        margin: 0 0 0 25px;
    }

    /* Nav Bar */

    .navbar {
        margin: 0 25px 0 0;
    }
    
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 75px;
        gap: 0;
        flex-direction: column;
        background-color: var(--MENU);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

/* Home Buttons Section */

.home-section {
    display: flex;
    justify-content: center;
    margin: 75px 0;
}

.home-card {
    width: 300px;
    height: fit-content;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.buttons-container  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.home-btn {
    padding: 20px;
    background-color: var(--MAIN);
    display: block;
    margin: 10px 0;
    border-radius: 15px;
    font-size: 1.5rem;
}

/* Media Query for tablets screen size and bellow */
@media (max-width:768px) {
    .home-card {
        width: 250px;
        padding: 5px;
    }

    .home-btn {
        font-size: 1.2rem;
    }
}

/* Random Quote Section */

.quote-card {
    width: 600px;
    height: fit-content;
    background-color: white;
    padding: 30px 40px;
    border-radius: 20px;
}

.quote-container {
    display: flex; 
    font-size: 1.6rem;
    gap: 10px;
    padding: 0 0 20px 0;
    color: var(--TEXT);
}

.quote-icon {
    color: var(--MAIN);
}

.quote-author {
    font-size: 1.3rem;
    padding: 10px 0 0 0 ;
}

.quote-buttons-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.quote-btn {
    padding: 15px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    background-color: var(--MAIN);
    color: white;
    display: block;
}

#random-quote-section {
    padding-bottom: 20px;
}

/* Media Query for tablets screen size and bellow */
@media (max-width:768px) {
    .quote-card {
        width: 250px;
    }

    .quote-container {
        font-size: 1.3rem;
    }

    .quote-buttons-container {
        gap: 10px
    }

    .quote-btn-text {
        display: none;
    }

    .quote-btn {
        font-size: 1.5rem;
    }
}

/* Footer Section */

footer {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -75px;
}

.footer-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    color: white;
}

.copyright {
    font-size: 0.8rem;
}

.social-links {
    font-size: 1.5rem;
    display: flex;
    gap: 20px;
}

/* Start Screen Section */

.start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 75px);
    display: none;
}

.start-card {
    width: 250px;
    height: fit-content;
    background-color: var(--MAIN-DARK);
    padding: 20px;
    border-radius: 20px;
}

.start-btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

.start-btn {
    padding: 15px 20px;
    border: none;
    border-radius: 15px;
    background-color: var(--MAIN-LIGHT);
    cursor: pointer;
    font-size: 1.8rem;
}

.start-btn:hover {
    color: white;
}

/* Media Query for tablets screen size and bellow */
@media (max-width:768px) {
    .start-btns-container {
        gap: 40px;
    }
    
    .start-card {
        width: 200px;
    }

    .start-btn {
        font-size: 1.2rem;
    }
}

/* Clicker Section */

.clicker-section {
    height: calc(100vh - 75px);
    display: flex;
    justify-content: center;
}

.content-wrapper {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    background: green;
}

.timer-area {
    width: 25%;
}

.main-area {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upgrade-area {
    width: 25%;
}
