/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --MAIN: #262626;
    --MAIN-DARK: #0000003d;
    --MAIN-LIGHT: #ffffff48;
    --DARK-BLUE: #006885;
    --LIGHT-GRAY: #bdbdbd;
    --MENU: #2e2e2eef;
    --TEXT: #262626;
    --ADD-GREEN: #66ff00;
    --MINUS-RED: #ff1b14;
    --SETTINGS-BG: #3a3a3a;
}

body {
    background-color: var(--MAIN);
    min-height: 100vh;
    position: relative;
    font-family: "Lato", sans-serif;
}

/* Header */

header {
    height: 75px;
    background-color: var(--MAIN-DARK);
    display: flex;
    justify-content: center;
    font-family: "Source-Sans-Pro", sans-serif;
}

li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Logo */

.logo-container {
    display: flex;
    align-items: center;
    margin: 0 0 0 50px;
}

.logo h1 {
    font-size: 2rem;
}

/* Nav Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link {
    transition: 0.7s ease;
    padding: 10px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.current {
    background-color: var(--MAIN-LIGHT);
    border-radius: 10px;
}

.nav-link:hover {
    background-color: var(--MAIN-LIGHT);
    border-radius: 10px;
}

/* Media Query for tablet screen size and bellow */
@media (max-width: 768px) {
    /* Logo */
    .logo-container {
        margin: 0 0 0 25px;
    }

    /* Nav Bar */

    .navbar {
        margin: 0 25px 0 0;
    }
    
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 75px;
        gap: 0;
        flex-direction: column;
        background-color: var(--MENU);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 999;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

/* Home Buttons Section */

.home-section {
    display: flex;
    justify-content: center;
    margin: 75px 0;
}

.home-card {
    width: 300px;
    height: fit-content;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.buttons-container  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.home-btn {
    padding: 20px;
    background-color: var(--MAIN);
    display: block;
    margin: 10px 0;
    border-radius: 15px;
    font-size: 1.5rem;
}

/* Media Query for tablets screen size and bellow */
@media (max-width:768px) {
    .home-card {
        width: 250px;
        padding: 5px;
    }

    .home-btn {
        font-size: 1.2rem;
    }
}

/* Random Quote Section */

.quote-card {
    width: 600px;
    height: fit-content;
    background-color: white;
    padding: 30px 40px;
    border-radius: 20px;
}

.quote-container {
    display: flex; 
    font-size: 1.6rem;
    gap: 10px;
    padding: 0 0 20px 0;
    color: var(--TEXT);
}

.quote-icon {
    color: var(--MAIN);
}

.quote-author {
    font-size: 1.3rem;
    padding: 10px 0 0 0 ;
}

.quote-buttons-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.quote-btn {
    padding: 15px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    background-color: var(--MAIN);
    color: white;
    display: block;
}

#random-quote-section {
    padding-bottom: 20px;
}

/* Media Query for tablets screen size and bellow */
@media (max-width:768px) {
    .quote-card {
        width: 250px;
    }

    .quote-container {
        font-size: 1.3rem;
    }

    .quote-buttons-container {
        gap: 10px
    }

    .quote-btn-text {
        display: none;
    }

    .quote-btn {
        font-size: 1.5rem;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
}

/* Footer Section */

footer {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -75px;
}

.footer-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    color: white;
}

.copyright {
    font-size: 0.8rem;
}

.social-links {
    font-size: 1.5rem;
    display: flex;
    gap: 20px;
}

/* Start Screen Section */

.start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 75px);
}

.start-screen.play {
    display: none;
}

.start-card {
    width: 250px;
    height: fit-content;
    background-color: var(--MAIN-DARK);
    padding: 20px;
    border-radius: 20px;
    border: 2px solid white;
}

.start-btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

.start-btn {
    padding: 15px 20px;
    border: none;
    border-radius: 15px;
    background-color: var(--DARK-BLUE);
    cursor: pointer;
    font-size: 1.8rem;
    color: white;
}

.start-btn:hover {
    outline: 2px solid white;
    outline-offset: -2px;
}

/* Media Query for tablets screen size and bellow */
@media (max-width:768px) {
    .start-btns-container {
        gap: 40px;
    }
    
    .start-card {
        width: 200px;
    }

    .start-btn {
        font-size: 1.2rem;
    }
}

/* Clicker Section */

.clicker-section {
    height: calc(100vh - 75px);
    justify-content: center;
    display: none;
    overflow: hidden;
}

.clicker-section.play {
    display: flex;
}

.overlay {
    position: fixed;
    height: calc(100% - 75px);
    width: 100%;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 202;
    background-color: var(--MAIN);
    transition: all 0.3s ease-in-out;
}

.content-wrapper {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
}

/* Main Area */

.main-area {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.level-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 100px;
    margin: 0 0 20px 0;
    border-radius: 20px;
    background-color: var(--DARK-BLUE);
    border: 2px solid white;
}

.level-container h2 {
    font-size: 2.5rem;
    color: white;
}

.monster-count {
    font-size: 1.5rem;
    color: white;
}

.monster-stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    width: 250px;
    height: 60px;
    border-radius: 5px;
    background-color: var(--DARK-BLUE);
    border: 2px solid white;
}

.monster-hp {
    font-size: 1.3rem;
    color: white;
}

.health-bar {
    width: 90%;
    background-color: gray;
    border-radius: 20px;
    height: 12px;
    position: relative;
}

.health-progress {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: repeating-linear-gradient(
        to left,
        #6a040f,
        #9d0208,
        #d00000
    );
    box-shadow: 0 3px 3px -4px #6a040f, 0 2px 5px #9d0208;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    transition: 0.1s ease 0.1s;
}

.boss-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: -10px;
    top: -4px;
    display: none;
}

.boss-icon.active {
    display: inline;
}

.monster-clicker-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border-radius: 5px;
    margin: 0 0 20px 0;
}

.monster-clicker {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 45%;
    cursor: pointer;
    transition: transform 1s linear;
}

.island-bg {
    width: 300px;
    height: 300px;
    position: absolute;
}

.island-bg.transition {
    animation: new-image-transition 0.5s ease-in-out forwards;
}

@keyframes new-image-transition {
    0% {
        transform: rotate(15deg);
    }

    5% {
        transform: translateX(5%);
    }

    10% {
        transform: rotate(-15deg);
    }

    15% {
        transform: translateX(-5%);
    }

    20% {
        transform: rotate(15deg);
    }

    25% {
        transform: translateX(5%);
    }

    30% {
        transform: rotate(-15deg);
    }

    35% {
        transform: translateX(-5%);
    }

    40% {
        transform: rotate(15deg);
    }

    45% {
        transform: translateX(5%);
    }

    50% {
        transform: rotate(-15deg);
    }

    55% {
        transform: translateX(-5%);
    }

    60% {
        transform: rotate(15deg);
    }

    65% {
        transform: translateX(5%);
    }

    70% {
        transform: rotate(-15deg);
    }

    75% {
        transform: translateX(-5%);
    }

    80% {
        transform: rotate(15deg);
    }

    85% {
        transform: translateX(5%);
    }

    90% {
        transform: rotate(-15deg);
    }

    95% {
        transform: translateX(-5%);
    }

    100% {
        transform: rotate(0deg);
        transform: translateX(0)
    }
}

.monster {
    width: 180px;
    height: 180px;
    position: absolute;
    left: 60px;
    top: 0px;
    transition: transform 0.1s linear;
    z-index: 98;
}

.monster.transition {
    transition: transform 0.5s linear;
}

.monster-wrapper.transition {
    animation: new-image-transition 0.5s ease-in-out forwards;
}

.coin {
    width: 30px;
    height: 30px;
    z-index: 97;
    position: absolute;
}

.coin-number {
    font-size: 1.7rem;
    color: var(--ADD-GREEN);
    position: absolute;
}

.power-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 65px;
    border-radius: 5px;
    background-color: var(--DARK-BLUE);
    border: 2px solid white;
    position: relative;
}

.power-container > .power-number {
    z-index: 99;
    font-size: 1.5rem;
    color: var(--ADD-GREEN);
    position: absolute;
}

.power-count, .power-count-number {
    font-size: 1.5rem;
    color: white;
    position: relative;
    margin: 0;
}

.monster-clicker > .number {
    z-index: 99;
    font-size: 1.5rem;
    color: white;
    position: absolute;
}

.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    -webkit-user-drag: none;
}

/* Media query for small laptop and tablet */
@media (max-width:1280px) {
    .main-area {
        width: 40%;
    }
    
    .level-container {
        width: 150px;
        height: 75px;
    }

    .level-container h2 {
        font-size: 1.875rem;
    }

    .monster-stats-container {
        width: 150px;
        height: 50px;
        gap: 2px
    }

    .monster-count {
        font-size: 1.125rem;
    }
    
    .monster-hp {
        font-size: 0.975rem;
    }

    .health-bar {
        height: 8px;
    }
    
    .monster-clicker-container {
        width: 250px;
        height: 250px;
    }

    .monster-clicker {
        width: 175px;
        height: 175px;
    }

    .monster {
        width: 105px;
        height: 105px;
        left: 35px;
    }

    .island-bg {
        width: 175px;
        height: 175px;
    }

    .power-container {
        width: 150px;
        height: 50px;
    }

    .power-count, .power-count-number {
        font-size: 1.125rem;
    }

    .coin {
        width: 18px;
        height: 18px;
    }
    
    .coin-number {
        font-size: 1.3rem;
    }
    
    .power-container > .power-number {
        font-size: 1.125rem;
    }
    
    .monster-clicker > .number {
        font-size: 1.125rem;
    }
}

/* Media query for small laptop and tablet */
@media (max-width:768px) {
    .level-container {
        width: 100px;
        height: 50px;
        border-radius: 15px;
    }

    .level-container h2 {
        font-size: 1.23rem;
    }

    .monster-stats-container {
        width: 100px;
        height: 40px;
        gap: 3px;
    }

    .monster-count {
        font-size: 0.7425rem;
    }
    
    .monster-hp {
        font-size: 0.6435rem;
    }

    .health-bar {
        height: 5px;
    }
    
    .monster-clicker-container {
        width: 165px;
        height: 165px;
    }

    .monster-clicker {
        width: 115px;
        height: 115px;
    }

    .power-container {
        width: 100px;
        height: 40px;
    }

    .power-count, .power-count-number {
        font-size: 0.7425rem;
    }

    .monster {
        width: 69px;
        height: 69px;
        left: 23px;
    }

    .island-bg {
        width: 115px;
        height: 115px;
    }

    .coin {
        width: 12px;
        height: 12px;
    }
    
    .coin-number {
        font-size: 0.9rem;
    }
    
    .power-container > .power-number {
        font-size: 0.7425rem;
    }
    
    .monster-clicker > .number {
        font-size: 0.7425rem;
    }
}

/* Kill Monster Section */

.kill-monster-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--MAIN);
    z-index: 2;
    transition: all 1s;
    overflow: hidden;
}

.kill-monster-section.active {
    top: 75px;
    height: calc(100% - 75px);
}

/* Remember Number */

.remember-number {
    font-size: 50rem;
    color: white;
}

/* Timing Game */

.timing-game-container {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.timing-game-container.active {
    display: flex;
}

.timing-game-container.fade {
    opacity: 1;
}

.timing-count-container {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timing-count {
    color: white;
    font-size: 10rem;
    line-height: 7.5rem;
}

.timing-attack-btn-text {
    color: white;
}

.timing-box-container {
    width: 300px;
    height: 30px;
    border-radius: 50px;
    background-color: var(--MINUS-RED);
    box-shadow: 0 10px 10px -7px var(--MINUS-RED);
    position: relative;
    overflow: hidden;
}

.timing-green-area {
    position: absolute;
    width: 90px;
    height: 100%;
    left: 50%;
    translate: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timing-green-area-display {
    background-color: var(--ADD-GREEN);
    box-shadow: 0 20px 20px -15px var(--ADD-GREEN);
    width: 70px;
    height: 100%;
}

.timing-bar {
    width: 5px;
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 20px;
    background-color: white;
}

.timing-attack-btn {
    width: 70px;
    height: 70px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: var(--DARK-BLUE);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.timing-timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    gap: 5px;
    position: relative;
}

.timing-timer {
    font-size: 3rem;
    color: white;
    line-height: 2.25rem;
}

.timing-countdown {
    width: 300px;
    height: 20px;
    border-radius: 30px;
    background-color: var(--LIGHT-GRAY);
    overflow: hidden;
}

.timing-countdown-progress {
    height: 100%;
    width: 100%;
    background-color: var(--DARK-BLUE);
    transition: all 0.1s linear;
}

/* Upgrade Area */

.upgrade-area {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Upgrade Menu Button */

.upgrade-menu-container {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    transition: all 0.6s ease-in-out;
}

.upgrade-menu-btn {
    background-color: var(--DARK-BLUE);
    width: 40px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    border-radius: 25px 8px 8px 25px;
    z-index: 3;
    transition: all 0.3s ease-in-out;
    border: white 2px solid;
}

.upgrade-menu-btn-icon {
    margin: 0 0 0 10px;
    color: white;
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
}

.upgrade-menu-btn:hover > .upgrade-menu-btn-icon{
    margin: 0;
}

.upgrade-menu {
    background-color: var(--MAIN-DARK);
    position: absolute;
    width: 0;
    height: 100%;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    z-index: 2;
    outline: 2px solid white;
    outline-offset: -2px;
}

.upgrade-menu-content-container {
    width: calc(100% - 40px);
    height: 100%;
    margin: 0 0 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    z-index: 3;
}

.upgrade-transition-div {
    width: 0;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

/* Coins */

.coins-container {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   left: 0;
}

.coins-container.active {
    position: relative;
    top: 0;
}

.coins {
    display: flex;
    justify-content: center;
}

.coins-text {
    color: white;
    font-size: 2.5rem;
}

.upgrade-btn > .minus-coin-number {
    font-size: 2rem;
    color: var(--MINUS-RED);
    position: absolute;
}

/* Upgrade buttons */

.upgrade-btn {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-color: var(--DARK-BLUE);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    cursor: pointer;
    border: 2px solid white;
    position: relative;
}

.upgrade-btn:hover {
    border: 2px solid var(--MAIN-LIGHT);
}

.upgrade-name-container {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upgrade-name {
    font-size: 1.5rem;
}

.upgrade-btn-middle {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--MAIN-DARK);
    border-top: 1px solid white;
}

.upgrade-cost-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upgrade-cost-text, .upgrade-cost {
    font-size: 1.3rem;
}

.upgrade-btn > .cost-number {
    font-size: 1.1rem;
    position: absolute;
    color: var(--MINUS-RED);
}

.upgrade-buy-bar-container {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--MAIN-DARK);
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.upgrade-buy-bar {
    width: 100px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
}

.upgrade-amount {
    height: 20px;
    margin: 2px 0 0 0;
}

.upgrade-count {
    font-size: 1.5rem;
}

.upgrade-btn > .count-number {
    font-size: 1.3rem;
    color: var(--ADD-GREEN);
    position: absolute;
}

/* Active class */

.upgrade-menu.active {
    width: 100%;
}

.upgrade-menu-btn.active {
    border-radius: 8px 25px 25px 8px;
}

.upgrade-transition-div.active {
    width: calc(100% - 40px);
}

.upgrade-menu-btn-icon.active {
    margin: 0 10px 0 0;
}

.upgrade-menu-btn-icon.active:hover {
    margin: 0;
}

/* Media Query for small laptop size */

@media (max-width: 1280px) {
    .upgrade-area {
        width: 30%;
    }
    
    .upgrade-menu-container {
        height: 500px;
        width: calc(100% - 20px);
        max-width: 240px;
        margin: 0 20px 0 0;
    }

    .upgrade-menu-content-container {
        width: calc(100% - 30px);
        margin: 0 0 0 30px;
    }
    
    .upgrade-menu-btn {
        width: 30px;
        height: 75px;
        border-radius: 18px 5px 5px 18px;
        margin: 0 20px 0 0;
    }
    
    .upgrade-menu-btn-icon {
        margin: 0 0 0 7px;
        font-size: 1.5rem;
    }
    
    .upgrade-menu-btn.active {
        border-radius: 5px 18px 18px 5px;
    }
    
    .upgrade-transition-div.active {
        width: calc(100% - 30px);
    }
    
    .upgrade-menu-btn-icon.active {
        margin: 0 7px 0 0;
    }

    .coins-text {
        font-size: 1.8rem;
    }

    .upgrade-btn > .minus-coin-number {
        font-size: 1.4rem;
    }

    .upgrade-btn {
        width: 100px;
        height: 100px;
        border-radius: 15px;
    }

    .upgrade-name-container {
        height: 20px;
    }

    .upgrade-name {
        font-size: 1rem;
    }

    .upgrade-btn-middle {
        height: 40px;
    }

    .upgrade-cost-text, .upgrade-cost {
        font-size: 0.8rem;
    }

    .upgrade-btn > .cost-number {
        font-size: 0.6rem;
    }

    .upgrade-buy-bar-container {
        height: 13px;
    }

    .upgrade-buy-bar {
        width: 66px;
        height: 2px;
    }

    .upgrade-amount {
        height: 13px;
        margin: 1px 0 0 0;
    }

    .upgrade-count {
        font-size: 1rem;
    }

    .upgrade-btn > .count-number {
        font-size: 0.8rem;
    }
}

/* Media Query for tablet and phone size */

@media (max-width: 768px) {
    .overlay.transition {
        top: 75px;
    }

    .overlay.active {
        z-index: 199;
    }
    
    .upgrade-menu-container {
        margin: 0;
    }
    
    .upgrade-menu-btn {
        width: 20px;
        height: 50px;
        border-radius: 12px 3px 3px 12px;
        margin: 0 10px 0 0;
    }
    
    .upgrade-menu-btn-icon {
        margin: 0;
        font-size: 1.1rem;
    }
    
    .upgrade-menu-btn.active {
        border-radius: 3px 12px 12px 3px;
        position: fixed;
        left: calc(50vw - 100px);
        z-index: 201;
    }

    .upgrade-transition-div.active {
        width: 0;
    }

    .upgrade-menu-content-container {
        width: calc(100% - 20px);
        margin: 0 0 0 20px;
        gap: 10px;
    }

    .coins-container {
        left: 10px;
    }

    .coins-container.active {
        left: 0;
    }

    .coins-text {
        font-size: 0.9rem;
    }

    .coins-container.active > .coins-text {
        font-size: 1.4rem;
    }

    .upgrade-btn > .minus-coin-number {
        font-size: 1.1rem;
    }

    .upgrade-menu {
        opacity: 0;
        top: 100%;
        transition: all 0.3s ease-in-out;
        display: none;
    }

    .upgrade-menu.active {
        width: 200px;
        height: 365px;
        position: fixed;
        right: calc(50vw - 100px);
        top: 95px;
        background-color: var(--MAIN-DARK);
        z-index: 200;
        opacity: 1;
        display: flex;
    }

    .upgrade-btn {
        width: 80px;
        height: 80px;
        border-radius: 10px;
    }

    .upgrade-name-container {
        height: 16px;
    }

    .upgrade-name {
        font-size: 0.8rem;
    }

    .upgrade-btn-middle {
        height: 32px;
    }

    .upgrade-cost-text, .upgrade-cost {
        font-size: 0.64rem;
    }

    .upgrade-btn > .cost-number {
        font-size: 0.48rem;
    }

    .upgrade-buy-bar-container {
        height: 10px;
    }

    .upgrade-buy-bar {
        width: 53px;
        height: 2px;
    }

    .upgrade-amount {
        height: 10px;
        margin: 1px 0 0 0;
    }

    .upgrade-count {
        font-size: 0.8rem;
    }

    .upgrade-btn > .count-number {
        font-size: 0.6rem;
    }
}

/* Save Area */

.save-area {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.save-menu-container {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    transition: all 0.6s ease-in-out;
}

.save-menu-btn {
    background-color: var(--DARK-BLUE);
    width: 40px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    border-radius: 8px 25px 25px 8px;
    z-index: 3;
    transition: all 0.3s ease-in-out;
    border: white 2px solid;
}

.save-menu-btn-icon {
    margin: 0 10px 0 0;
    color: white;
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
}

.save-menu-btn:hover > .save-menu-btn-icon{
    margin: 0;
}

.save-menu {
    background-color: var(--MAIN-DARK);
    position: absolute;
    width: 0;
    height: 100%;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    z-index: 2;
    outline: 2px solid white;
    outline-offset: -2px;
}

.save-menu-content-container {
    width: calc(100% - 40px);
    height: 100%;
    margin: 0 40px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    z-index: 3;
}

.save-transition-div {
    width: 0;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.save-menu.active {
    width: 100%;
}

.save-menu-btn.active {
    border-radius: 25px 8px 8px 25px;
}

.save-menu-btn-icon.active {
    margin: 0 0 0 10px;
}

.save-menu-btn-icon.active:hover {
    margin: 0;
}

.save-transition-div.active {
    width: calc(100% - 40px);
}

.menu-btn {
    width: 120px;
    height: 80px;
    border-radius: 20px;
    background-color: var(--DARK-BLUE);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    border: 2px solid white;
}

.save-game-text {
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 75px;
}

.menu-btn p {
    border-bottom: 2px solid white;
}

.menu-btn:hover {
    border: 2px solid var(--MAIN-LIGHT);
}

.timer-container {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   z-index: 1;
   right: 0;
}


.timer-container.active {
    position: relative;
    top: 0;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-text {
    color: white;
    font-size: 2.5rem;
}

/* Media Query for small laptop size */

@media (max-width: 1280px) {
    .save-area {
        width: 30%;
    }

    .save-menu-container {
        height: 500px;
        width: calc(100% - 20px);
        max-width: 240px;
        margin: 0 0 0 20px;
    }

    .save-menu-btn {
        width: 30px;
        height: 75px;
        border-radius: 5px 18px 18px 5px;
        margin: 0 0 0 20px;
    }

    .save-menu-btn-icon {
        margin: 0 7px 0 0;
        font-size: 1.5rem;
    }

    .save-menu-btn.active {
        border-radius: 18px 5px 5px 18px;
    }

    .save-transition-div.active {
        width: calc(100% - 30px);
    }

    .save-menu-btn-icon.active {
        margin: 0 0 0 7px;
    }

    .save-menu-content-container {
        width: calc(100% - 30px);
        margin: 0 30px 0 0;
    }

    .timer-text {
        font-size: 1.8rem;
    }

    .save-game-text {
        font-size: 1.5rem;
    }
}

/* Media Query for tablet and phone size */

@media (max-width: 768px) {
    .save-menu-container {
        margin: 0;
        transition: all 0s;
    }
    
    .save-menu-btn {
        width: 20px;
        height: 50px;
        border-radius: 3px 12px 12px 3px;
        margin: 0 0 0 10px;
    }
    
    .save-menu-btn-icon {
        margin: 0;
        font-size: 1.1rem;
    }
    
    .save-menu-btn.active {
        border-radius: 12px 3px 3px 12px;
        position: fixed;
        right: calc(50vw - 100px);
        z-index: 201;
    }
    
    .save-transition-div.active {
        width: 0;
    }

    .save-menu-content-container {
        width: calc(100% - 20px);
        margin: 0 20px 0 0;
        gap: 10px;
    }

    .timer-container {
        right: 0;
    }

    .timer-container.active {
        right: 0;
    }

    .timer-text {
        font-size: 0.9rem;
    }

    .timer-container.active > .timer-text {
        font-size: 1.4rem;
    }

    .save-menu {
        opacity: 0;
        top: 100%;
        transition: all 0.3s ease-in-out;
        display: none;
    }

    .save-menu.active {
        width: 200px;
        height: 365px;
        position: fixed;
        left: calc(50vw - 100px);
        top: 95px;
        background-color: var(--MAIN-DARK);
        z-index: 200;
        opacity: 1;
        display: flex;
    }

    .menu-btn {
        width: 96px;
        height: 64px;
        border-radius: 15px;
        font-size: 1.2rem;
    }
}

/* Settings modal section */

.settings-section {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 75px);
    background-color: var(--MAIN);
    z-index: 203;
}

.settings-section.active {
    display: flex;
}

.settings-menu {
    background-color: var(--MAIN-DARK);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    height: 460px;
    width: 280px;
    position: relative;
}

.settings-menu-content-container {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.return-and-close-container {
    position: absolute;
    top: 10px;
    width: 120px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    color: white;
}

.close-settings-menu-btn, .return-settings-menu-btn {
    cursor: pointer;
}

.settings-wrapper-home {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin: 40px 0 0 0;
}

.settings-wrapper-home.active {
    display: flex;
}

/* Audio Settings Section */

.settings-wrapper-audio {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px 0 0 0;
}

.settings-wrapper-audio.active {
    display: flex;
}

.audio-settings-text {
    font-size: 2.5rem;
    color: white;
}

/* Music settings */

.music-settings-container {
    border-top: 2px solid white;
}

.settings-container {
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    border-bottom: 2px solid white;
}

.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.toggle {
    width: 72px;
    height: 35px;
    border-radius: 30px;
    background-color: var(--ADD-GREEN);
    position: relative;
    transition: all 0.3s ease-in-out;
}

.toggle-btn {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    position: absolute;
    left: 39px;
    top: 2px;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.toggle-text-container {
    width: 50px;
}

.toggle-text {
    color: white;
    font-size: 1.8rem;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    gap: 10px;
    
}

.slider {
    position: relative;
    width: 200px;
    height: 10px;
    
}

.slider-range {
    position: absolute;
    left: -2px;
    top: -14px;
    width: 204px;
    -webkit-appearance: none;
    background: transparent;
    z-index: 204;
}

.slider-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
}

.slider-range::-webkit-slider-thumb:hover {
    transform: scale(1.1);
}

.slider-progress {
    width: 200px;
    height: 10px;
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    overflow: hidden;
    border-radius: 20px;
}

.slider-progress::-webkit-progress-bar {
    background-color: var(--SETTINGS-BG);
}

.slider-progress::-webkit-progress-value {
    background-color: var(--SETTINGS-BG)
}

.slider-value-container {
    width: 40px;
}

.slider-value {
    color: white;
    font-size: 1.8rem;
}

/* Display settings section */

.settings-wrapper-display {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px 0 0 0;
    gap: 10px;
}

.settings-wrapper-display.active {
    display: flex;
}

.display-setting {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.display-settings-text {
    font-size: 1.5rem;
    color: white;
}

.display-toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.display-toggle {
    width: 52px;
    height: 25px;
    border-radius: 30px;
    background-color: var(--ADD-GREEN);
    position: relative;
    transition: all 0.3s ease-in-out;
}

.display-toggle-btn {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    position: absolute;
    left: 29px;
    top: 2px;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.display-toggle-text-container {
    width: 30px;
}

.display-toggle-text {
    color: white;
    font-size: 1.3rem;
}

/* Secret settings section */

.settings-wrapper-secret {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px 0 0 0;
}

.settings-wrapper-secret.active {
    display: flex;
}

.cheat-password-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.secret-settings-text {
    font-size: 2.5rem;
    color: white;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cheat-password-text-letters {
    height: 40px;
    letter-spacing: -2px;
}

.cheat-password-text-letters.correct {
    color: var(--ADD-GREEN);
}

.cheat-password-text-letters.incorrect {
    color: var(--MINUS-RED);
}

.cheat-password-text-cursor {
    width: 4px;
    height: 40px;
    background: white;
    display: none;
}

.cheat-password-text-cursor.active {
    display: flex;
}

.cheat-password-input {
    width: 200px;
    padding: 10px 20px;
    border-radius: 40px;
    border: 2px solid white;
    color: white;
    font-size: 2rem;
    background-color: var(--MAIN);
}

.cheat-password-input:focus {
    border: 2px solid var(--DARK-BLUE);
    outline: none;
}

.cheat-password-btn {
    padding: 20px;
    background-color: var(--DARK-BLUE);
    border-radius: 50%;
    border: 2px solid white;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cheat-password-btn-icon {
    color: white;
    font-size: 2rem;
}

/* Cheat settings section */

.settings-wrapper-cheat {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px 0 0 0;
    gap: 10px;
}

.settings-wrapper-cheat.active {
    display: flex;
}

.cheat-setting {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.cheat-settings-text {
    font-size: 1.3rem;
    color: white;
}

.cheat-setting-input {
    width: 100px;
    padding: 5px 15px;
    border-radius: 30px;
    border: 2px solid white;
    color: white;
    font-size: 0.9rem;
    background-color: var(--MAIN);
    text-align: center;
}

.cheat-setting-input:focus {
    border: 2px solid var(--DARK-BLUE);
    outline: none;
}

.mpl-slider-container {
    height: 30px;
    gap: 5px;
}

.mpl-slider {
    width: 100px;
    height: 5px;
}

.mpl-slider-range {
    left: -1px;
    top: -6px;
    width: 102px;
}

.mpl-slider-range::-webkit-slider-thumb {
    width: 5px;
    height: 20px;
    border-radius: 10px;
}

.mpl-slider-progress {
    width: 100px;
    height: 5px;
    border-radius: 10px;
}

.mpl-slider-value-container {
    width: 20px;
}

.mpl-slider-value {
    font-size: 0.9rem;
}

.cheat-change-btn {
    padding: 5px 10px;
    background-color: var(--DARK-BLUE);
    border-radius: 15px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}

.cheat-toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.cheat-toggle {
    width: 35px;
    height: 17px;
    border-radius: 30px;
    background-color: var(--ADD-GREEN);
    position: relative;
    transition: all 0.3s ease-in-out;
}

.cheat-toggle-btn {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 19px;
    top: 1px;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.cheat-toggle-text-container {
    width: 20px;
}

.cheat-toggle-text {
    color: white;
    font-size: 0.9rem;
}

