* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --MAIN: #262626;
}

/* Header */

header {
    height: 75px;
    background-color: var(--MAIN);
    display: flex;
    justify-content: center;
}

li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Logo */

.logo-container {
    display: flex;
    align-items: center;
    margin: 0 0 0 50px;
}

.logo h1 {
    font-size: 2rem;
}

/* Nav Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link {
    transition: 0.7s ease;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.current {
    background-color: #41414180;
    padding: 10px;
    border-radius: 10px;
}

/* Media Query for nav menu */
@media (max-width: 768px) {
    /* Logo */
    .logo-container {
        margin: 0 0 0 25px;
    }

    /* Nav Bar */

    .navbar {
        margin: 0 25px 0 0;
    }
    
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: var(--MAIN);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

/* Home Buttons Section */

.home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: lightblue;
}

.home-card {
    width: 300px;
    height: fit-content;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.buttons-container  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn {
    padding: 20px;
    background-color: var(--MAIN);
    display: block;
    margin: 10px 0;
    border-radius: 15px;
    font-size: 1.5rem;
}